In [9]:
import pandas as pd
from functools import reduce

In [10]:
citi_bike1 = pd.read_csv("JC-202201-citibike-tripdata.csv")
citi_bike2 = pd.read_csv("JC-202202-citibike-tripdata.csv")
citi_bike3 = pd.read_csv("JC-202203-citibike-tripdata.csv")
citi_bike4 = pd.read_csv("JC-202204-citibike-tripdata.csv")
citi_bike5 = pd.read_csv("JC-202205-citibike-tripdata.csv")

In [12]:
citi_bike_merge = [citi_bike1, citi_bike2, citi_bike3, citi_bike4, citi_bike5]

citi_bike = reduce(lambda left,right: pd.merge(left, right, how="outer"), citi_bike_merge)

In [13]:
citi_bike.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,CA5837152804D4B5,electric_bike,2022-01-26 18:50:39,2022-01-26 18:51:53,12 St & Sinatra Dr N,HB201,12 St & Sinatra Dr N,HB201,40.750604,-74.024020,40.750604,-74.024020,member
1,BA06A5E45B6601D2,classic_bike,2022-01-28 13:14:07,2022-01-28 13:20:23,Essex Light Rail,JC038,Essex Light Rail,JC038,40.712774,-74.036486,40.712774,-74.036486,member
2,7B6827D7B9508D93,classic_bike,2022-01-10 19:55:13,2022-01-10 20:00:37,Essex Light Rail,JC038,Essex Light Rail,JC038,40.712774,-74.036486,40.712774,-74.036486,member
3,6E5864EA6FCEC90D,electric_bike,2022-01-26 07:54:57,2022-01-26 07:55:22,12 St & Sinatra Dr N,HB201,12 St & Sinatra Dr N,HB201,40.750604,-74.024020,40.750604,-74.024020,member
4,E24954255BBDE32D,electric_bike,2022-01-13 18:44:46,2022-01-13 18:45:43,12 St & Sinatra Dr N,HB201,12 St & Sinatra Dr N,HB201,40.750604,-74.024020,40.750604,-74.024020,member

In [14]:
citi_bike.shape

(253354, 13)

In [15]:
citi_bike.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 253354 entries, 0 to 253353
Data columns (total 13 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   ride_id             253354 non-null  object
 1   rideable_type       253354 non-null  object
 2   started_at          253354 non-null  object
 3   ended_at            253354 non-null  object
 4   start_station_name  253354 non-null  object
 5   start_station_id    253354 non-null  object
 6   end_station_name    252437 non-null  object
 7   end_station_id      252437 non-null  object
 8   start_lat           253354 non-null  float64
 9   start_lng           253354 non-null  float64
 10  end_lat             252726 non-null  float64
 11  end_lng             252726 non-null  float64
 12  member_casual       253354 non-null  object
dtypes: float64(4), object(9)
memory usage: 27.1+ MB

In [16]:
citi_bike.isnull().sum()

ride_id                 0
rideable_type           0
started_at              0
ended_at                0
start_station_name      0
start_station_id        0
end_station_name      917
end_station_id        917
start_lat               0
start_lng               0
end_lat               628
end_lng               628
member_casual           0
dtype: int64

In [18]:
pd.DataFrame.to_csv(citi_bike, 'citi_bike.csv', index=False)